<div class="form-group">
  <div>
    <input type="hidden" name="basic[id]" value="{{ user.id }}">
  </div>
  <label class="col-sm-2 control-label" for="number">员工工号:</label>
  <div class="col-sm-2 controls">
    <div class="father">
      <input id="number" class="form-control" type="text" name="basic[number]" value="{{ user.number }}" disabled="disabled">
      <span class="star">&nbsp;*</span>
    </div>
  </div>
  <label class="col-sm-2 control-label" for="trueName">姓  名:</label>
  <div class="col-sm-3 controls">
    <div class="father">
      <input id="trueName" class="form-control" type="text" name="basic[trueName]" value="{{ basic.trueName }}">
      <span class="star">&nbsp;*</span>
    </div>
  </div>
</div>

<div class="form-group">
  <label class="col-sm-2 control-label" for="department">所属部门:</label>
  <div class="col-sm-2 controls" id="department">
    <div class="father">
      <select class="form-control"  name="basic[departmentId]" {% if not app.user.isAdmin() and basic.departmentId != '' and app.user.isLeader() %}disabled="disabled"{% endif %}
    >
        {{ select_options(departmentsChoices, basic.departmentId) }}
      </select>
      <span class="star">&nbsp;*</span>
    </div>
  </div>
  <label class="col-sm-2 control-label" for="rank">职 级:</label>
  <div class="col-sm-3 controls">
    
    <div class="father">
      <select class="form-control"  name="basic[rank]" {% if not app.user.isAdmin() and basic.rank != '' %}disabled="disabled"{% endif %}>>
        {{ select_options(dict('rank'), basic.rank) }}
      </select>
      <span class="star">&nbsp;*</span>
    </div>
  </div>
</div>

<div class="form-group">
  <label class="col-sm-2 control-label" for="phone">手 机:</label>
  <div class="col-sm-2 controls">
    
    <div class="father">
      <input id="phone" class="form-control" type="text" name="basic[phone]" value="{{ basic.phone }}">
      <span class="star">&nbsp;*</span>
    </div>
  </div>

  <label class="col-sm-2 control-label" for="email">邮 箱:</label>
  <div class="col-sm-3 controls">
    
    <div class="father">
      <input id="email" class="form-control" type="text" name="basic[email]" value="{{ basic.email }}">
      <span class="star">&nbsp;*</span>
    </div>
  </div>
</div>

<div class="form-group">
  <label class="col-sm-2 control-label">性 别:</label>
    <div class="radio col-sm-2">
      
      <div class="father">
        <label>
          <input type="radio" name="basic[gender]" id="gender" value="male" {% if basic.gender == 'male' %}checked{% endif %}>男
        </label>
        <label>
          <input type="radio" name="basic[gender]" id="gender" value="female" {% if basic.gender == 'female' %}checked{% endif %}>女
        </label>
      <span class="star">&nbsp;*</span>
    </div>
    </div>

  <label class="col-sm-2 control-label">出生日期:</label>
  <div class="col-sm-3 controls">
      
      <div class="father">
        <input type="text" id="bornTime" class="form-control" name="basic[bornTime]" placeholder="日期格式：年-月-日" value="{{ basic.bornTime|date('Y/m/d') }}"/>
        <span class="star">&nbsp;*</span>
      </div>
  </div>
</div>
<div class="form-group">
  <label class="col-sm-2 control-label" for="nation">民 族:</label>
  <div class="col-sm-2 controls">
    
    <div class="father">
      <input id="nation" class="form-control" type="text" name="basic[nation]" value="{{ basic.nation }}">
      <span class="star">&nbsp;*</span>
    </div>
  </div>
  <label class="col-sm-2 control-label" for="native">籍 贯:</label>
  <div class="col-sm-3 controls">
    
    <div class="father">
      <textarea id="native" style="resize:vertical" class="form-control" type="text" name="basic[native]">{{ basic.native }}</textarea>
      <span class="star">&nbsp;*</span>
    </div>
  </div>
</div>

<div class="form-group">
  <label class="col-sm-2 control-label" for="height">身 高:</label>
  <div class="col-sm-2 controls">
    
    <div class="father">
      <input id="height" class="form-control" type="text" name="basic[height]" value="{{ basic.height }}">
      <span style="position: absolute;right: -35px;top: 0px;color:red;">&nbsp;*</span>
      <span style="position: absolute;right: -26px;top: 0px;margin-top:5px;">cm</span>
    </div>
  </div>
  <label class="col-sm-2 control-label" for="weight">体 重:</label>
  <div class="col-sm-3 controls">
    
    <div class="father">
      <input id="weight" class="form-control" type="text" name="basic[weight]" value="{{ basic.weight }}">
      <span style="position: absolute;right: -35px;top: 0px;color:red;">&nbsp;*</span>
      <span style="position: absolute;right: -26px;top: 0px;margin-top:5px;">kg</span>
    </div>
  </div>
</div>

<div class="form-group">
  <label class="col-sm-2 control-label" for="blood">血 型:</label>
  <div class="col-sm-2 controls">
    
    <div class="father">
      <select class="form-control"  name="basic[blood]" >
        {{ select_options(dict('blood'), basic.blood) }}
      </select>
      <span class="star">&nbsp;*</span>
    </div>
  </div>
  <label class="col-sm-2 control-label" for="education">文化程度:</label>
  <div class="col-sm-3 controls" id="education">
    
    <div class="father">
      <select class="form-control"  name="basic[education]">
        {{ select_options(dict('education'), basic.education) }}
      </select>
      <span class="star">&nbsp;*</span>
    </div>
  </div>
</div>

<div class="form-group">
  <label class="col-sm-2 control-label" for="prefession">专业:</label>
  <div class="col-sm-2 controls">
    
    <div class="father">
     <input id="prefession" class="form-control" type="text" name="basic[prefession]" value="{{ basic.prefession }}">
      <span class="star">&nbsp;*</span>
    </div>
  </div>
  <label class="col-sm-2 control-label" for="postcode">毕业院校:</label>
  <div class="col-sm-3 controls">
    
    <div class="father">
      <input id="postcode" class="form-control" type="text" name="basic[postcode]" value="{{ basic.postcode }}">
      <span class="star">&nbsp;*</span>
    </div>
  </div>
  
</div>

<div class="form-group">
  <label class="col-sm-2 control-label" for="address">目前居住地:</label>
  <div class="col-sm-2 controls">
    
    <div class="father">
      <textarea id="address" style="resize:vertical" class="form-control" type="text" name="basic[address]">{{ basic.address }}</textarea>
      <span class="star">&nbsp;*</span>
    </div>
  </div>
  <label class="col-sm-2 control-label" for="marriage">婚姻:</label>
  <div class="col-sm-3 controls">
    
    <div class="father">
      <select class="form-control"  name="basic[marriage]">
        {{ select_options(dict('marriage'), basic.marriage) }}
      </select>
      <span class="star">&nbsp;*</span>
    </div>
  </div>
</div>

<div class="form-group">
  <label class="col-sm-2 control-label" for="professionTitle">职 称:</label>
  <div class="col-sm-2 controls">
    
    <div class="father">
      <select class="form-control"  name="basic[professionTitle]" {% if not app.user.isAdmin() and basic.professionTitle != ''  %}disabled="disabled"{% endif %}>
        {{ select_options(dict('professionTitle'), basic.professionTitle) }}
      </select>
      <span class="star">&nbsp;*</span>
    </div>
  </div>
  <label class="col-sm-2 control-label" for="Idcard">身份证号:</label>
  <div class="col-sm-3 controls">
    
    <div class="father">
      <input id="Idcard" class="form-control" type="text" name="basic[Idcard]" value="{{ basic.Idcard }}">
      <span class="star">&nbsp;*</span>
    </div>
  </div>
</div>

<div class="form-group">
  <label class="col-sm-2 control-label" for="householdType">户口性质:</label>
  <div class="col-sm-2 controls">
    
    <div class="father">
      <select class="form-control"  name="basic[householdType]">
        {{ select_options(dict('householdType'), basic.householdType) }}
      </select>
      <span class="star">&nbsp;*</span>
    </div>
  </div>
  <label class="col-sm-2 control-label" for="residence">户口所在地:</label>
  <div class="col-sm-3 controls">
    <input id="residence" class="form-control" type="text" name="basic[residence]" value="{{ basic.residence }}">
  </div>
</div>

<div class="form-group"> 
  <label class="col-sm-2 control-label">入职时间:</label>
  <div class="col-sm-2 controls">
      
      <div class="father">
        <input type="text" id="joinTime" class="form-control time" name="basic[joinTime]" placeholder="日期格式：年-月-日" value="{{ user.joinTime|date('Y/m/d') }}" {% if not app.user.isAdmin() and user.joinTime != 0 %}disabled="disabled"{% endif %}/>
        <span class="star">&nbsp;*</span>
      </div>
  </div>
  <label class="col-sm-2 control-label" for="politics">政治面貌:</label>
  <div class="col-sm-3 controls">
      
    <div class="father">
      <select class="form-control" name="basic[politics]">
        {{ select_options(dict('politics'), basic.politics) }}
      </select>  
      <span class="star">&nbsp;*</span>
    </div>
  </div>
</div>
<div class="form-group">
  <label class="col-sm-2 control-label" for="recordPlace">档案存放地:</label>
  <div class="col-sm-2 controls">
    <input id="recordPlace" class="form-control" type="text" name="basic[recordPlace]" value="{{ basic.recordPlace }}">
  </div>
  {#<label class="col-sm-2 control-label" for="formerLaborShip">与原工作的劳动关系:</label>
  <div class="col-sm-3 controls">
    <input id="formerLaborShip" class="form-control" type="text" name="basic[formerLaborShip]" value="{{ basic.formerLaborShip }}">
  </div>#}
</div>
